



<div class="modal fade" id="submitModal">
	<div class="modal-dialog">
		<div class="modal-content">
            <!-- 模态框头部 -->
			<div class="modal-header">
				<h4 class="modal-title">添加请求</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<form id="submitTaskForm">
				{{ form.csrf_token }}
				<!-- 模态框主体 -->
				<div class="modal-body">
					<textarea class="form-control" rows="5" name="urls" id="urls" placeholder=""
							  style="width: 100%;"></textarea>
				</div>
				<!-- 模态框尾部 -->
				<div class="modal-footer">
					<button class="btn btn-primary" id="submit" data-dismiss="modal">提交</button>
				</div>


			</form>
		</div>
	</div>
</div>

















