



<div class="modal fade" id="new-modal">
	<div class="modal-dialog">
		<div class="modal-content">
            <!-- 模态框头部 -->
			<div class="modal-header">
				<h4 class="modal-title">添加请求</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<form id="newTaskForm">

				<!-- 模态框主体 -->
				<div class="modal-body">
					<textarea name="uris" id="urls" placeholder="支持多个URL地址,每个连接占一行."
							  style="width: 100%; min-height: 100px"></textarea>
				</div>
				<!-- 模态框尾部 -->
				<div class="modal-footer">
					<button class="btn btn-primary" id="submit" data-dismiss="modal">提交</button>
				</div>


			</form>
		</div>
	</div>
</div>

















