
<ul class="tasks">
    {% for task in tasks %}
    <li class="task">
        <div class="task-thumbnail">
            <a href="">
                <img class="img-rounded profile-thumbnail" src="">
            </a>
        </div>
        <div class="task-content">
            <div class="task-date"></div>
            <div class="task-title"><a href="">hhhhhhhhhhhhh</a></div>
            <div class="task-body">

                asdasdasdasdasdasdasdasdasdasdasdasdasd?????????/
            </div>
        </div>
    </li>
    {% endfor %}
</ul>